<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792428127435-bvsnfjq01qeldh6hj21j7fvesib07the.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792428127435-bvsnfjq01qeldh6hj21j7fvesib07the</string>
	<key>API_KEY</key>
	<string>AIzaSyA1BqIXnsLFo6poM9qugEP4XzRch50Ubwo</string>
	<key>GCM_SENDER_ID</key>
	<string>792428127435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mycompany.pushNotificationAppDemo1</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-ea8b7</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-ea8b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792428127435:ios:ab49c3357992c448d0274e</string>
</dict>
</plist>